extends layout 

block content 
  h1=title 
  div  
    p Title: #{title}
    p Author:  #{author}
    p Genre:  #{genre}
    p Year: #{year}

  div 
    a(href="/") Back
    a(href="/edit") Edit Book  
    a(href="/delete") Delete Book